<div class="jumbotron text-center">
    <h1 class="display-4">Hike-a-Log</h1>
    <h2>A Blog for Hikers</h2>
    <p class="lead">
        <img src="/img/logo.jpg" id="logo" alt="Hiking Blog" />
        <br />Hike-a-Log with us!
    </p>
    <hr class="my-4" />
    <p class="lead text-center">
        <a class="btn btn-primary btn-lg" href="/users/login" role="button">Get Started</a>
    </p>
</div>