<div class="jumbotron">
  <h1 class="display-4">Home</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis dictum urna ac faucibus. Curabitur venenatis diam id elit pharetra, in suscipit metus dictum. Praesent quis auctor ipsum. Aliquam accumsan dignissim nibh, quis faucibus erat. Suspendisse gravida, libero vel molestie tincidunt, magna velit scelerisque tellus, vitae ullamcorper metus ipsum ut ipsum. Maecenas faucibus mauris sit amet lorem ullamcorper aliquam a sollicitudin tellus.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <p class="lead">
    <button type="button" class="btn btn-primary" (click)="navigateToLogin()">Login</button>
  </p>
</div>
