<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
    </head>
    <body>
        <div class="container">
        {{> nav}}
        {{> index}}
        {{> footer}}
        </div>
        {{> scripts}}
    </body>
</html>