html
  head
    title Dashboard
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css', integrity='sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy', crossorigin='anonymous')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet,' href='css/narrow-jumbotron.css')
  body
    div.container
      <!-- Start Header -->
      header.header.clearfix
        <!-- Start Nav -->
        nav
          <a class="navbar-brand" href="/">Home</a>
          ul.nav.nav-pills.float-right
            li.nav-item
              <a class="nav-link" id="indexPage" href="/">Logout</a>

      <!-- Start Main -->
      main.role('main')
        <!-- Start Jumbotron -->
        div.jumbotron
          .row
            .col-md-6.col-md-offset-3
              h1.display-4.m-b-2 Dashboard

          .row
            .col-md-12
              image(src="/img/1.jpg") 
              image(src="/img/2.jpg") 
              image(src="/img/3.jpg")

      footer.footer.text-right
        <p>&copy; R.M.Frenette 2018</p>

    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js', integrity='sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4', crossorigin='anonymous')
