<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>Lorem Ipsum...</p>
        {{> footer}}
    </body>
</html>